.appWrapper {
    display: flex;
    width: 100%;
}


.main{
    width: 95%;
}







.appWrapperContent {
    display: flex;
    justify-content: center;
    height: 90vh;
}



.mainContent{
    width: 80%;
    height: 60vh;
    border: 1px solid #5700ff;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
