html,
body {
  background-color: #232323;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family:  Roboto, sans-serif;
  color: #00ffff;
  color-scheme: dark;
}
:not(.no-global-styles) > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
